<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="item">
          <h1>Aplikasi Logbook</h1>
        </div>
        <div class="form-group p-float-label item p-fluid">
                <input pInputText type="text" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <label for="username">{{ErrorMessageUsername}}</label>
                <div *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">Username harus diisi</div>
            </div>
        </div>
        <br />
        <div class="form-group p-float-label item p-fluid">
                <input pInputText [type]="hide ? 'password' : 'text'" id="passwordinput" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <label for="passwordinput">Password</label>
                <div *ngIf="submitted && f.password.errors" >
                  <div *ngIf="f.password.errors.required">Password harus diisi</div>
                </div>
        </div>
        <br />
        <p-button [disabled]="loading" label="Login" class="item p-fluid" type="submit"></p-button>
        <div *ngIf="error" >{{error}}</div>
    </form>
</div>
