<form>
  <p-dropdown optionLabel="Pilih Tahun" [options]="mainData" [(ngModel)]="currentYear"></p-dropdown>
</form>
<div *ngIf="isAdmin">
    <div *ngFor="let item of currentData">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{item.User.name}}</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <progress-block [contract]="item" [user]="item.User"></progress-block>
        </mat-expansion-panel>
    </div>
</div>

<div *ngIf="!isAdmin">
    <div *ngIf="currentData">
        <progress-block [contract]="currentData[0]" [user]="currentData[0].User"></progress-block>
    </div>
</div>
