.mat-paginator {
    display: flex;
    justify-content: center;
}
.mat-cell {
    padding-left: 5px;
    padding-right: 5px;
}
.nofile {
    background-color: coral;
}
.tleft {
    text-align: left;
}
.tcenter {
    text-align: center;
}
.tright {
    text-align: right;
}