table {
    border: 2px solid black;
    border-right: 1px solid;
}
td, th {
    border-right: 1px solid;
}
.mat-paginator {
    display: flex;
    justify-content: center;
}
.mat-cell {
    padding-left: 5px;
    padding-right: 5px;
}
.tleft {
    text-align: left;
}
.tcenter {
    text-align: center;
}
.tright {
    text-align: right;
}
