<p *ngIf="!asgnLtrs"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="asgnLtrs" class="tomboltambah">
  <button mat-raised-button color="primary" (click)="openForm(null)">
      Tambah Baru
  </button>
</div>

<table mat-table [dataSource]="asgnLtrs" class="mat-elevation-z8" [hidden]="!asgnLtrs"
    matSort (matSortChange)="loadData()"
    matSortActive="{{defaultSortColumn}}" [matSortDirection]="defaultSortOrder">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 1% !important;">Nomor</th>
    <td mat-cell *matCellDef="let al" class="tcenter">{{al.id}}</td>
  </ng-container>

  <!-- Nomor Surat -->
  <ng-container matColumnDef="ltNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nomor Surat</th>
    <td mat-cell *matCellDef="let al" >{{al.ltNumber}}</td>
  </ng-container>

  <!-- Tanggal Surat -->
  <ng-container matColumnDef="ltDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal Surat</th>
    <td mat-cell *matCellDef="let al" class="tcenter">{{al.ltDate | date:'dd-MM-yyyy'}} </td>
  </ng-container>

  <!-- Tanggal Mulai -->
  <ng-container matColumnDef="ltDateStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal Mulai</th>
    <td mat-cell *matCellDef="let al" class="tcenter">{{al.ltDateStart | date: 'dd-MM-yy'}}</td>
  </ng-container>

  <!-- Tanggal Selesai Column -->
  <ng-container matColumnDef="ltDateEnd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal Selesai</th>
    <td mat-cell *matCellDef="let al" class="tcenter">{{al.ltDateEnd | date:'dd-MM-yy'}}</td>
  </ng-container>

  <!-- Shared? -->
  <ng-container matColumnDef="ltShare">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let al" class="tcenter" >
      <mat-icon *ngIf="!al.hasFile">report_problem</mat-icon>
      <mat-icon *ngIf="al.hasFile">thumb_up</mat-icon>
    </td>
  </ng-container>
    <!-- Active? -->
    <ng-container matColumnDef="ltActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktif?</th>
      <td mat-cell *matCellDef="let al" class="tcenter">{{al.ltActive ? 'Ya' : 'Tidak'}}</td>
    </ng-container>
    <!-- Catatan -->
    <ng-container matColumnDef="ltNote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Catatan</th>
      <td mat-cell *matCellDef="let al" style="min-width: 150px;">{{al.ltNote ?? '-'}}
      </td>
    </ng-container>
    
    <!-- CountryName Column -->
    <ng-container matColumnDef="aksi">
      <th mat-header-cell *matHeaderCellDef>Opsi</th>
      <td mat-cell *matCellDef="let al" style="text-align:center" fxLayoutAlign="start stretch">
        <button mat-raised-button (click)="uploadFile(al.id)" *ngIf="editable(al.UserId)">Upload Berkas {{al.assignFileId}}</button>
        <button mat-raised-button [disabled]="al.isCalculated" (click)="openForm(al)" *ngIf="editable(al.UserId)">Ubah Data</button>

      </td>
    </ng-container>
    <!-- Pembuat? -->
    <ng-container matColumnDef="user" *ngIf="isAdmin">
      <th mat-header-cell *matHeaderCellDef>Pembuat Surat</th>
      <td mat-cell *matCellDef="let al">{{al.User.name}}</td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'nofile':!row.hasFile, 'selesai': !row.ltActive}"></tr>
</table>
<!-- Pagination directive -->
<mat-paginator [hidden]="!asgnLtrs"
    (page)="getData($event)"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
﻿
<h2>Informasi:</h2>
<ol>
  <li *ngFor="let rule of rules">{{rule}}</li>
</ol>
