table {
    border: 2px solid black;
    border-right: 1px solid;
}
th{
    font-size: 16px;
    font-weight: bold;
    background-color:#c2c1bb;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
td, th {
    border-right: 1px solid;
}
.mat-paginator {
    display: flex;
    justify-content: center;
}
.mat-cell {
    padding-left: 5px;
    padding-right: 5px;
}
.tleft {
    text-align: left;
}
.tcenter {
    text-align: center;
}
.tright {
    text-align: right;
}
.info {
    align-items: flex-start;
    padding-left: 100px;
}
.nofile {
    background-color: rgb(255, 46, 99);
}
.normal {
    background-color: rgb(234, 234, 234);
}
.selesai {
    background-color:rgb(71, 181, 255);
}