<div *ngIf="!job" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="job">
    <form [formGroup]="formInput" >
        <mat-form-field appearance="fill">
            <mat-label>Pilih Surat Tugas</mat-label>
            <mat-select name="AssignLetterId" formControlName="AssignLetterId">
                <mat-option *ngFor="let st of surattugas" [value]="st.id">{{st.ltNumber}} Tanggal: {{st.ltDate | date:'dd-MM-yyyy'}}/r Note: {{st.ltNote}}</mat-option>
            </mat-select>
            <mat-error>{{ErrorMessageAssignLetter}}</mat-error>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Nama Kegiatan</mat-label>
            <textarea formControlName="namaButir" id="namaButir" matInput placeholder="Nama Butir Kegiatan" [readonly]="true" rows=2></textarea>
            <mat-hint>Otomatis</mat-hint>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Tingkat Kegiatan</mat-label>
            <input formControlName="tkButir" id="tkButir" matInput placeholder="Tingkat" [readonly]="true" >
            <mat-hint>Otomatis</mat-hint>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Jumlah Poin</mat-label>
            <input formControlName="jmlPoin" id="jmlPoin" matInput placeholder="Jumlah kredit" [readonly]="true">
            <mat-hint>Otomatis</mat-hint>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Hasil Pekerjaan</mat-label>
            <input matInput formControlName="hasilKerja" id="hasilKerja" placeholder="Bukti pelaksanaan pekerjaan" [readonly]="true">
            <mat-hint>Otomatis</mat-hint>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Jenjang</mat-label>
            <input matInput  formControlName="levelReq" id="levelReq" placeholder="Kegiatan" [readonly]="true">
            <mat-hint>Otomatis</mat-hint>
        </mat-form-field>
    
        <button mat-raised-button color="primary"
        class="btn btn-success" (click)="changeButir()">Ubah Butir</button>
            
        <mat-form-field appearance="outline" fxLayout="column">
            <mat-label>Jumlah Kegiatan</mat-label>
            <input type="number" matInput formControlName="butirVolume" id="butirVolume" placeholder="Jumlah hasil Pekerjaan yang dilaporkan">
            <mat-hint>Diisi jumlah dokumen hasil pekerjaan</mat-hint>
            <mat-error>{{ErrorMessageButirVolume}}</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill" fxLayout="column">
            <mat-label>Tanggal Pelaksanaan Kegiatan</mat-label>
            <input formControlName="actDate" id="actDate" matInput [matDatepicker]="picker">
            <mat-hint>Tanggal pelaksanaan Kegiatan (dd/MM/yyyy)</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{ErrorMessageActDate}}</mat-error>
        </mat-form-field>
    
        <mat-form-field fxLayout="column">
            <mat-label>Catatan</mat-label>
            <input matInput  formControlName="actNote" id="actNote" placeholder="Catatan Kegiatan" >
            <mat-hint>Contoh: Pekerjaan kemarin</mat-hint>
        </mat-form-field>
    
    </form>
    <div fxLayoutGap="12px">
        <button type="submit" mat-raised-button color="primary" 
        [disabled]="formInput.invalid" fxFlex="20"
        class="btn btn-success" (click)="onSubmit()" *ngIf="!id">Buat Kontrak</button>
        <button type="submit" mat-raised-button color="primary" *ngIf="id"
        [disabled]="formInput.invalid" fxFlex="20"
        class="btn btn-success" (click)="onSubmit()">Ubah Data</button>
        <button type="cancel" mat-raised-button fxFlex="10" color="accent"(click)='closeDialog()' >Batal</button>
        <button mat-raised-button fxFlex="30" end color="warn" (click)='hapusPekerjaan()' *ngIf="id">Hapus Pekerjaan</button>
    </div>
</div>