<mat-card *ngIf="kontrak">
    <mat-card-title>{{year}}</mat-card-title>
<mat-card-content>
    <section>
        <h2>Nomor Kontrak: {{ kontrak.contractName}} tanggal: {{kontrak.contractDate | date:'dd-MM-yyyy'}}</h2>
        <h2>Target: {{kontrak.contractValue}} </h2>
        <div fxLayout="row">
            <div fxFlex="85">
                <div style="border:2px solid black;">
                    <div style="height:24px;" [style.width.%]="persentase" [style.background-color]="warna">
                    </div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>Unsur Pekerjaan Utama</td>
                            <td>:</td>
                            <td>{{utama}}</td>
                            <td>(Ditetapkan: </td>
                            <td> {{utamarealise}}</td>
                            <td> + Siap Diajukan: </td>
                            <td> {{utamaunrealise}}</td>
                            <td>)</td>
                        </tr>
                        <tr>
                            <td>Unsur Penunjang</td>
                            <td>:</td>
                            <td>{{penunjang}}</td>
                            <td>(Ditetapkan: </td>
                            <td>{{penunjangrealise}}</td>
                            <td> + Siap Diajukan: </td>
                            <td>{{penunjangrealise}}</td>
                            <td>)</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td> : </td>
                            <td>{{pencapaian}}</td>
                            <td> / {{kontrak.contractValue}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div fxFlex="15">
                <h1>{{persentase | number:'1.2-2'}} %</h1>
            </div>
        </div>
    </section>
</mat-card-content>
</mat-card>
<div *ngIf="!kontrak">
    <mat-spinner></mat-spinner>
</div>