.textarea {
    min-width:800px;
}.mat-card {
    border: 1px solid
}
.listedact {
    width:50em;
    word-break: break-word;
}
#wait {
    color: coral;
    text-align: center;
}
.nilai {
    font-size:x-large;
}
mat-form-field {
    width: 90%;
    margin-left: 4%;
  }
#isdone {
font-size: 18;
font-weight: bold;
color: brown;
}
