.textarea {
    min-width:400px;
}
.mat-card {
    border: 1px solid
}
.listedact {
    width:40em;
    word-break: break-word;
}
#wait {
    color: coral;
    text-align: center;
}
.nilai {
    font-size:large;
}
mat-form-field {
    width: 90%;
    margin-left: 4%;
  }
#isdone {
font-size: 18;
font-weight: bold;
color: brown;
}
