<mat-card>
  <mat-card-title>{{submission.subName}}</mat-card-title>
  <mat-card-subtitle>{{submission.subDate | date:'dd-MM-yyyy'}}</mat-card-subtitle>
  <mat-card-content>
    <!-- konten ya-->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ getTitle(allAct,0)}}
        </mat-panel-title>
        <mat-panel-description>
          Klik untuk lihat daftar Kegiatan
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--isi, daftar kegiatan-->
      <ol>
        <li *ngFor="let item of allAct[getTitle(allAct,0)]">
          {{item[id]}} {{item[]}}
        </li>
      </ol>
    </mat-expansion-panel>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Ajukan</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>