.mat-paginator {
    display: flex;
    justify-content: center;
}
.done {
    background-color:greenyellow
}
.undone {
    background-color:crimson
}
td, th {
    border-right: 1px solid;
}
.tleft {
    text-align: left;
}
.tcenter {
    text-align: center;
}
.tright {
    text-align: right;
}
