<div class="tomboltambah">
    <button mat-flat-button color="primary" (click)="openForm()" class="tomboltambah">Buat Pengajuan</button>
</div>
<div *ngIf="!submissions">
    <h2 align="center">Belum ada data!</h2>
</div>
<div fxLayout="row" *ngIf="submissions" class="tomboltambah">
    <ul fxLayoutGap="10px">
        <li *ngFor="let item of submissions;">
            <div fxLayout="row">
                    <submission-component  [submission]="item" [isAdmin]="adminstatus" [target]="target" (dosubmit)="childSubmit($event)"></submission-component>
            </div>
        </li>
    </ul>
</div>
<!-- Pagination directive -->
<mat-paginator [hidden]="!submissions"
    (page)="getData($event)"
    [pageSize]="10"
    [pageSizeOptions]="[5, 15, 30]"
    showFirstLastButtons></mat-paginator>