/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;    
}
table tr th {
    align-items: center;
    justify-content: center;
    text-align: center !important;
    vertical-align: middle !important;
}
table tr td {
    padding-top:2px;
    padding-bottom: 2px;
}
.mat-sort-header-container {
    justify-content: center !important;
}
.tomboltambah {
    margin-left: 80px;
    margin-bottom:10px;
    margin-top:20px;
}
.mat-header-cell {
    font-weight: bold;
    font-size: 14px;
}
button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.nofile {
    background-color: rgb(255, 46, 99)
}
.normal {
    background-color: rgb(234, 234, 234);
}
.selesai {
    background-color:rgb(71, 181, 255)
}