<h1 mat-dialog-title>Cara Penggunaan Aplikasi</h1>
<mat-dialog-content>
    <h2>Informasi Umum</h2>
    <h3>Form Input</h3>
    <p>Untuk setiap form input validasi dilakukan secara otomatis, apabila tombol simpan/buat tidak tersedia berarti data masukan tidak valid.
        Lihat keterangan kebutuhan data di setiap form dengan hover di kolom isian.
    </p>
    <h2>Input Target Pada Kontrak Kinerja</h2>
    <ol>
        <li>Masuk ke Menu "Angka Kredit", lalu pilih tab "Kontrak Kinerja"</li>
        <li>Klik tombol "Tambah Target" lalu isi data kontrak kinerja. Untuk tahun masukkan misalnya 2022</li>
        <li>Klik "Buat Baru" untuk menyimpan</li>
        <li>Setiap Tahun hanya bisa menggunakan 1 kontrak kinerja, ubah kontrak tahun berjalan apabila diperlukan</li>
        <li>Dashboard merupakan menu untuk melihat capaian kinerja pada tahun berjalan, otomatis mengikuti tahun terpilih</li>
    </ol>
    <h2>Input Data Surat Tugas</h2>
    <ol>
        <li>Masuk ke Menu "Angka Kredit", lalu pilih tab "Surat Tugas"</li>
        <li>Klik Tombol "Tambah Baru", tunggu hingga muncul dialog</li>
        <li>Masukkan data surat tugas sampai tervalidasi (tombol simpan dapat diklik) lalu klik "Simpan"</li>
        <li>Setelah mendapatkan konfirmasi sudah tersimpan, lihat pada tabel surat tugas yang baru berwarna merah tanda beluma memiliki berkas/softcopy</li>
        <li>Klik tombol bergambar awan untuk menggunggah file Surat Tugas</li>
        <li>Pilih file yang diupload, format PNG, JPG, JPEG, PDF dengan maksimal ukuran 2 Mb dan masukkan keterangan pada kolom "Catatan" (apabila ada)</li>
        <li>Klik Upload, setelah selesai dialog dapat ditutup. Untuk file Surat tugas hanya bisa diuggah 1 file</li>
        <li>Setelah surat tugas berwarna putih maka dapat digunakan untuk input Hasil Pekerjaan</li>
    </ol>
    <br>
    <h2>Input Bukti Pekerjaan</h2>
    <ol>
        <li>Masuk ke Menu "Angka Kredit", lalu pilih tab "Pekerjaan"</li>
        <li>Klik Tombol "Tambah Laporan", akan terdapat pilihan Jenis laporan untuk "Pekerjaan Utama" atau "Pekerjaan Tambahan"</li>
        <li>Pilih butir pekerjaan dari pohon pekerjaan hingga muncul form input pekerjaan</li>
        <li>Input Data Surat Tugas (dari pilihan), jumlah kegiatan, tanggal pelaksanaan, dan catatan pekerjaan. Lalu klik "Buat Data"</li>
        <li>Muat ulang laman, atau klik refresh</li>
        <li>Kegiatan yang baru saja diinput akan berwarna merah dan tidak dapat diajukan, klik gambar upload untuk menggunggah bukti pekerjaan/laporan</li>
        <li>Pilih file yang diupload, format PNG, JPG, JPEG, PDF dengan maksimal ukuran 2 Mb dan masukkan keterangan pada kolom "Catatan" (apabila ada)</li>
        <li>Klik Upload, setelah selesai dialog dapat ditutup. Untuk file hasil pekerjaan bisa lebih dari 1 file.</li>
        <li>Apabila baris kegiatan sudah berwarna putih dan terdapat tombol "Ajukan Berkas" maka berkas siap diajukan</li>
    </ol>
    <br>
    <h2>Input Pengajuan</h2>
    <ol>
        <li>Masuk ke Menu "Angka Kredit", lalu pilih tab "Pengajuan"</li>
        <li>Klik Tombol "Buat Pengajuan", masukkan nomor/nama pengajuan dan tanggal serta catatan jika diperlukan</li>
        <li>Pengajuan awal akan berwarna putih dan terdapat tombol "Ajukan". lanjutkan ke proses Pengajuan</li>
        <li>Pengajuan Aktif hanya ada satu, kirim pengajuan dan tunggu validasi apabila ingin membuat pengajuan lain</li>
        <li>Manfaatkan menu edit untuk mengubah data Pengajuan</li>
    </ol>
    <h2>Proses Pengajuan</h2>
    <p>Pengajuan hasil pekerjaan dilakukan dengan melakukan klik tombol Kirim pengajuan di menu Pekerjaan.
        Untuk setiap butir Pekerjaan dengan tombol bergambar "Kirim" apabila diklik secara otomatis akan diajukan ke Pengajuan aktif.
        Nantinya di bagian pengajuan akan muncul hasil pekerjaan yang dikelompokkanm berdasarkan surat penugasan.
        Setelah seluruh pekerjaan sudah diajukan, kembali ke menu Pengajuan dan klik "Ajukan" untuk mengajukan penilaian,
        tunggu validasi tim penilai.
    </p>
</mat-dialog-content>