<mat-tab-group>
    <mat-tab label="Pekerjaan">
        <ng-template matTabContent>
            <credit-point-table></credit-point-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="Surat Tugas">
        <ng-template matTabContent>
            <assign-letter-table></assign-letter-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="Pengajuan">
        <ng-template matTabContent>
            <submission-list ></submission-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Penilaian" *ngIf="isAdmin">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
  </mat-tab-group>