<div *ngIf="!users" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>
<div class="commands text-right" *ngIf="users" class="tomboltambah">
  <button mat-raised-button color="primary" (click)="openForm(null)">
      Tambah Baru
  </button>
</div>

<table mat-table [dataSource]="users" class="mat-elevation-z8" [hidden]="!users"
    matSort (matSortChange)="loadData()"
    matSortActive="{{defaultSortColumn}}" [matSortDirection]="defaultSortOrder">

  <!-- Id Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 1% !important;">Nomor</th>
    <td mat-cell *matCellDef="let i = index" class="tcenter">{{i + 1}}</td>
  </ng-container>

  <!-- Username -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let usr" >{{usr.username}}</td>
  </ng-container>

  <!-- Nama Pegawai -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nama Pegawai</th>
    <td mat-cell *matCellDef="let usr" class="tcenter">{{usr.name }} </td>
  </ng-container>

  <!-- Kewenangan -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kewenangan</th>
    <td mat-cell *matCellDef="let usr" class="tcenter">{{usr.role}}</td>
  </ng-container>

  <!-- Jenjang -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Jenjang</th>
    <td mat-cell *matCellDef="let usr" class="tcenter">{{usr.baseAngkre | jenjang }}</td>
  </ng-container>
    <!-- Jenjang -->
    <ng-container matColumnDef="baseAngkre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kredit Poin</th>
      <td mat-cell *matCellDef="let usr" class="tcenter">{{usr.baseAngkre }}</td>
    </ng-container>

    <!-- Kolom tindakan -->
    <ng-container matColumnDef="aksi">
      <th mat-header-cell *matHeaderCellDef>Opsi</th>
      <td mat-cell *matCellDef="let usr" style="text-align:center" fxLayoutAlign="start stretch">
        <button mat-raised-button (click)="openForm(usr.id)" >Ubah Data</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Pagination directive -->
<mat-paginator [hidden]="!users"
    (page)="getData($event)"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>

