<div *ngIf="!users">
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="commands text-right" *ngIf="users" class="tomboltambah">
  <button (click)="openForm()" type="button" pButton label="Input Pengguna baru"></button>
</div>

<p-table [value]="users" [hidden]="!users"
    [paginator]="true" [(first)]="defaultPageSize" [showCurrentPageReport]="true"
    currentPageReportTemplate="Menampilkan {defaultPageSize} sampai todal dari total "
    [rowsPerPageOptions]="[5,10,20,50]" sortMode="multiple">
    <!-- matSortActive="{{defaultSortColumn}}" [matSortDirection]="defaultSortOrder"> -->
  <!-- Id Column -->
  <ng-template pTemplate="header">
    <tr>
      <th>Indeks</th>
      <th pSortableColumn="username">
        Username
        <p-sortIcon field="username"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Nama
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="role">
        Kewenangan
        <p-sortIcon field="role"></p-sortIcon>
      </th>
      <th pSortableColumn="level">
        Jenjang
        <p-sortIcon field="level"></p-sortIcon>
      </th>
      <th pSortableColumn="baseAngkre">
        Poin Kredit
        <p-sortIcon field="baseAngkre"></p-sortIcon>
      </th>
      <th>Aksi</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
      <td>{{user.level}}</td>
      <td>{{user.baseAngkre}}</td>
    </tr>
  </ng-template>

  <ng-template let-item pTemplate="paginatordropdownitem">{{item.value}} - per page</ng-template>
</p-table>
<h3>Note: ketika mengubah data, password akan tereset menjadi username</h3>
