<form [formGroup]="formInput" (ngSubmit)="onSubmit()">
    <mat-form-field fxLayout="column">
        <mat-label>Username</mat-label>
        <input formControlName="username" id="username" matInput placeholder="Username untuk login" [readonly]="id">
        <mat-hint>Usahakan tanpa spasi atau tanda baca lain, 6 - 20 karakter</mat-hint>
        <mat-error>{{ErrorMessageUsername}}</mat-error>
    </mat-form-field>
    
    <mat-form-field fxLayout="column">
        <mat-label>Nama</mat-label>
        <input matInput formControlName="name" id="name" placeholder="Nama Pengguna">
        <mat-hint>Nama Pengguna, 5-60 karakter</mat-hint>
        <mat-error>{{ErrorMessageName}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
        <mat-label>Angka Kredit</mat-label>
        <input matInput type='number' formControlName="baseAngkre" id="baseAngkre" placeholder="Jumlah angka kredit">
        <mat-hint>Angka kredit pengguna misalnya: 60,80,100,150</mat-hint>
        <mat-error>{{ErrorMessageBaseAngkre}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
        <mat-label>Kewenangan</mat-label>
        <mat-select formControlName="role" matInput id="role">
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
        <mat-hint>Daftar kewenangan yang bisa diberikan pada pengguna</mat-hint>
        <mat-error>{{ErrorMessageRole}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
        <mat-label>Password</mat-label>
        <input matInput type='password' formControlName="password" id="password" >
        <mat-hint>huruf dan atau angka tanpa titik atau tanda baca lain, 4-30 karakter</mat-hint>
        <mat-error>{{ErrorMessagePassword}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
        <mat-label>Ulangi Password</mat-label>
        <input matInput type='password' formControlName="repassword" id="repassword">
        <mat-hint>Isian sama dengan kolom password, 4-30 karakter</mat-hint>
    </mat-form-field>

    <div fxLayoutGap="12px">
        <button type="submit" mat-raised-button color="primary" 
         fxFlex="20"
        class="btn btn-success" [disabled]="formInput.invalid" [hidden]="formInput.invalid">Simpan</button>
    
        <button type="cancel" mat-raised-button fxFlex="10" color="warn"(click)='closeDialog()' >Batal</button>
    </div>
</form>
<!-- Form debug info panel -->
