<form [formGroup]="formInput" (ngSubmit)="onSubmit()">
    <div *ngIf="id" style="color:red;">Password secara otomatis berubah ke username</div>
    <span class="p-float-label">
      <input type="text" id="username" formControlName="username" pInputText>
      <label for="username">Username untuk login</label>
      <p>Usahakan tanpa spasi atau tanda baca lain, 6 - 20 karakter</p>
      <p>{{ErrorMessageUsername}}</p>
    </span>
    <span class="p-float-label">
      <input type="text" id="name" formControlName="name" pInputText>
      <label for="name">Nama Pengguna</label>
      <!-- <mat-hint>Nama Pengguna, 5-60 karakter</mat-hint>
      <mat-error>{{ErrorMessageName}}</mat-error> -->
    </span>
    <span class="p-float-label">
      <input type="text" id="baseAngkre" formControlName="baseAngkre" pInputText>
      <label for="baseAngkre">Angka Kredit</label>
      <p>Angka kredit pengguna misalnya: 60,80,100,150</p>
      <p>{{ErrorMessageBaseAngkre}}</p>
    </span>
    <span class="p-float-label">
      <input type="text" id="role" formControlName="role" pInputText>
      <label for="fole">Kewenangan</label>
    </span>
    <span class="p-float-label">
      <p-dropdown [(ngModel)]="roles" optionLabel="Pilih kewenangan"></p-dropdown>
      <p>Daftar kewenangan yang bisa diberikan pada pengguna</p>
      <p>{{ErrorMessageRole}}</p>
    </span>
    <span class="p-float-label">
      <input type="text" id="password" formControlName="password" pInputText>
      <label for="password">Password Login</label>
      <!-- <mat-icon matSuffix (click)="password()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint>huruf dan atau angka tanpa titik atau tanda baca lain, 4-30 karakter</mat-hint>
      <mat-error>{{ErrorMessagePassword}}</mat-error> -->
    </span>
    <span class="p-float-label">
      <input type="text" id="repassword" formControlName="repassword" pInputText>
      <label for="repassword">Ulangi Password</label>
      <!-- <mat-icon matSuffix (click)="repassword()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint>Isian sama dengan kolom password, 4-30 karakter</mat-hint> -->
    </span>
    <p-button type="submit" [disabled]="formInput.invalid" [hidden]="formInput.invalid">Simpan</p-button>
</form>
<!-- Form debug info panel -->
