<p *ngIf="!jobs"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="jobs">
  <button mat-raised-button color="primary" (click)="openForm(null)">
      Tambah Baru
  </button>
</div>

<!-- <mat-form-field [hidden]="!jobs">
    <input matInput (keyup)="onFilterTextChanged($event.target.value)"
        placeholder="Filter by name (or part of it)...">
</mat-form-field> -->

<table mat-table [dataSource]="jobs" class="table-striped mat-elevation-z8" [hidden]="!jobs"
    matSort (matSortChange)="loadData()"
    matSortActive="{{defaultSortColumn}}" [matSortDirection]="defaultSortOrder">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let job"> {{i}} </td>
  </ng-container>

  <!-- Kegiatan Column -->
  <ng-container matColumnDef="Butir.namaButir">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nama Kegiatan</th>
    <td mat-cell *matCellDef="let job" >
      {{job.butir.namaButir}}
    </td>
  </ng-container>

  <!-- Lat Column -->
  <ng-container matColumnDef="actDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal Kegiatan</th>
    <td mat-cell *matCellDef="let job">{{job.actDate | date:'dd-MM-yyyy'}} </td>
  </ng-container>

  <!-- Lon Column -->
  <ng-container matColumnDef="Butir.jmlPoin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nilai</th>
    <td mat-cell *matCellDef="let job" > {{job.butir.jmlPoin}} </td>
  </ng-container>

  <!-- CountryName Column -->
  <ng-container matColumnDef="butirVolume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume Kegiatan</th>
    <td mat-cell *matCellDef="let job" style="text-align:center">{{job.butirVolume}}
    </td>
  </ng-container>

    <!-- CountryName Column -->
    <ng-container matColumnDef="actNote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Catatan</th>
      <td mat-cell *matCellDef="let job" style="text-align:center">{{job.actNote ?? '-'}}
      </td>
    </ng-container>

    <!-- CountryName Column -->
    <ng-container matColumnDef="aksi">
      <th mat-header-cell *matHeaderCellDef >Opsi</th>
      <td mat-cell *matCellDef="let job" style="text-align:center">
        <button mat-raised-button (click)="uploadFile(job.id)">Upload Berkas</button>
        <button mat-raised-button (click)="openForm(job)" [disabled]="job.isCalculated">Ubah Data</button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" ></tr>
</table>
<!-- Pagination directive -->
<mat-paginator [hidden]="!jobs"
    (page)="getData($event)"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>
﻿
