<div class="container">

    <div class="grid-item"  #leftcol>
      <p-image [src]="pictureImage" width="300" height="400">
        <ng-template pTemplate="indicator">
          Indicator Content
        </ng-template>
      </p-image>
      <div *ngIf="isEditing">
            <p-progressBar [value]="progress"></p-progressBar>
            <span class="progress">{{progress}} %</span>
            <input single type="file" (change)="selectFile($event)" accept=".png, .jpg, .jpeg"/>
            <br>
            <label>File berupa gambar, ukuran maksimal 2MB</label>
            <button p-button [disabled]="!selectedFiles" (click)="upload()">
              Unggah
            </button>
            <div style="color:red">
              Setelah mengunggah gambar, anda perlu logout untuk melihat hasil perubahan
            </div>
          </div>
          <div *ngIf="message" class="message">
            {{ message }}
          </div>
      </div>
    <div class="grid-item" id="rightcol" *ngIf="!isEditing" >
        <form [formGroup]="form">
          <span class="p-float-label">
            <input id="username" type="text" pInputText formControlName="username">
            <label for="username">Username</label>
          </span>
          <span class="p-float-label">
            <input type="text" id="name" formControlName="name" pInputText>
            <label for="name">Nama</label>
          </span>
          <span class="p-float-label">
            <input type="text" id="level" formControlName="level" pInputText>
            <label for="level">Jenjang</label>
          </span>
          <span class="p-float-label">
            <input type="text" id="role" pInputText formControlName="role">
            <label for="role">Kewenangan</label>
          </span>
          <span class="p-float-label">
            <input type="text" pInputText id="baseAngkre" formControlName="baseAngkre">
            <label for="baseAngkre">Angka Kredit</label>
          </span>
        </form>
        <div *ngIf="isEditing">
            <h2>Ubah Password</h2>
            <form [formGroup]="formPwd" >
              <span class="p-float-label">
                <input type="text" id="oldpwd" formControlName="oldpwd" pInputText>
                <label for="oldpwd">Password Lama</label>
              </span>
              <span class="p-float-label">
                <input type="text" id="newPwd" formControlName="newPwd" pInputText>
                <label for="newPwd">Password Baru</label>
              </span>
              <span class="p-float-label">
                <input type="text" id="renewPwd" formControlName="renewPwd" pInputText>
                <label for="renewPwd">Ulangi Password baru</label>
                <div *ngIf="formPwd.controls.renewPwd.errors?.mustMatch">Passwords must match</div>
              </span>
              <p-button type="submit" (click)="changePassword()" [disabled]="!formPwd.valid">Ubah Password</p-button>
            </form>
          </div>
          <div >
              <p-toggleButton (click)="toggleEdit()" onLabel="Selesai" offLabel="Ubah Password" [(ngModel)]="togglestatus"></p-toggleButton>
          </div>
    </div>
</div>
<br>
