<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column">
        <img src="/assets/keroro.jpg" />
        <mat-toolbar *ngIf="currentFile" class="progress-bar">
            <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
            <span class="progress">{{ progress }}%</span>
          </mat-toolbar>
          <mat-form-field>
            <div>
              <mat-toolbar>
                <input matInput [value]="fileName" />
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="!currentFile"
                  (click)="upload()"
                >
                  Upload
                </button>
              </mat-toolbar>
              <input
                type="file"
                id="fileInput"
                (change)="selectFile($event)"
                name="fileInput"
              />
            </div>
          </mat-form-field>
    </div>
    <div *ngIf="message" class="message">
        {{ message }}
      </div>
    <div fxLayout="column">
        <form [formGroup]="form">
            <mat-form-field fxLayout="column" appearance="fill">
                <mat-label>Username</mat-label>
                <input formControlName="username" id="username" matInput disabled>
                <mat-hint>Username</mat-hint>
            </mat-form-field>
            <mat-form-field fxLayout="row">
                <mat-hint>Nama</mat-hint>
                <input formControlName="name" id="name" matInput disabled>
            </mat-form-field>
            <mat-form-field fxLayout="row">
                <mat-hint>Jenjang</mat-hint>
                <input formControlName="level" id="level" matInput disabled>
            </mat-form-field>
            <mat-form-field fxLayout="row">
                <mat-hint>Kewenangan</mat-hint>
                <input formControlName="role" id="role" matInput disabled>
            </mat-form-field>
        </form>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
    <mat-button-toggle mat-raised-button (click)="toggleEdit()">{{ toggleButtonValue}}</mat-button-toggle>
</div>