.container {
  display: grid;
  width: 100%;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
.grid-item {
  border: 2px black;
}
#leftcol {
  justify-self: end;
}
#rightcol {
  justify-self: start;
}
  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
