<mat-toolbar color="primary" fxLayout="row">
  <button mat-button fxFlex>
    <mat-icon>vpn_lock</mat-icon>
    Aspen
  </button>
  <button  mat-button fxFlex  [routerLink]="['']">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button  mat-button fxFlex [routerLink]="['/angkakredit']">
    <mat-icon>business_center</mat-icon>
    Angka Kredit
  </button>

  <button  mat-button fxFlex>
    <mat-icon>badge</mat-icon>
    Profil
  </button>
  <button mat-button fxFlex>
    <mat-icon>logout</mat-icon>
    LogOut
  </button>
</mat-toolbar>
<router-outlet></router-outlet>