<mat-toolbar color="primary" fxLayout="row" *ngIf="isAuthorized">
    <button  mat-button fxFlex  [routerLink]="['']">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <button  mat-button fxFlex routerLink="angkakredit">
      <mat-icon>business_center</mat-icon>
      Angka Kredit
    </button>
  
    <button  mat-button fxFlex routerLink="profile">
      <mat-icon>badge</mat-icon>
      Profil
    </button>
    <button mat-button>
      {{user.name}}
    </button>
    <button mat-button fxFlex (click)="logout()">
      <mat-icon>logout</mat-icon>
      LogOut
    </button>
</mat-toolbar>
<router-outlet></router-outlet>